<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>_</title>
    </head>
    <body>
        <p id="chonader"><%= chonado %></p>
        <script src="/script11.js"></script>
    </body>
</html>